<%= form_for([@customer, @customer.invoices.build]) do |i| %>
  <div class="field">
    <%= i.label :inv_title , 'Project title'%><br />
    <%= i.text_field :inv_title %>
  </div>

  <div class = "actions">
    <%= i.submit %>
  </div>
<% end %>