  <p>Project title : <%= invoice.title %></p>  
  <p> 
      <%= link_to 'แสดงรายละเอียด', ([invoice.customer, invoice]),:format => "html" %>
      <%= link_to 'แก้ไขโปรเจค', edit_customer_invoice_path(invoice.customer, invoice),:format => "html" %>
      <%= link_to 'ลบโปรเจค' , [invoice.customer , invoice ],:format => "html", 
	      :confirm => "Are you sure?" ,
	      :method => :delete %></p>
=============================================<br />