  <p>Project title : <%= quotation.quo_title %></p>  
  <p> 
      <%= link_to 'แสดงรายละเอียด', ([quotation.customer, quotation]) %>
      <%= link_to 'แก้ไขโปรเจค', edit_customer_quotation_path(quotation.customer, quotation) %>
      <%= link_to 'ลบโปรเจค' , [quotation.customer , quotation ], 
	      :confirm => "Are you sure?" ,
	      :method => :delete %></p>
=============================================<br />